@import "modern-normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');


/****************** THEME & VARS ******************/
/* full color scheme from https://colorpalettes.net/color-palette-4508/ */
:root {
  --max_width: 90vw;
  --color-primary: #324372;
  --color-primary-light: #5977a1;
  --color-primary-dark: #1B1F47;
  --color-danger: #a51e1e;
  --color-success: #138015;
  --color-info: #0f8894;
  --color-warning: #dc781a;
  --color-background: #fdfdfd;
  --font-family: 'Montserrat', sans-serif;
}

/* quick reset. See https://mattbrictson.com/blog/css-normalize-and-reset */
:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
/********* End reset *******/

body {
  background-color: var(--color-background);
  color: #222;
  font-family: var(--font-family);
}

a {
  color: var(--color-primary); 
  transition: color 0.33s;
}
a:hover {color: var(--color-primary-dark); }


[role=banner] {
  display: flex;
  align-items: center;
  margin: 1.5em auto 0;
  justify-content: flex-start;
  width: var(--max_width);
  padding-bottom: 0.5em
}

[role="banner"] h1 {
  font-size: 2em;
  font-weight: bold;
  padding-right: 2em;

  a { text-decoration: none }
}

[role="banner"] h2 {
  margin-top: 0.25em;
  font-size: 0.875em;
}

[role="navigation"] {
  background-color: var(--color-primary); 
  margin-bottom: 1em;
}
[role="navigation"] ul {
  max-width: var(--max_width);
  margin: 0 auto;
}
[role="navigation"] li {
  display: inline-block;
  padding: 0.5em 1em 0.5em 0;
}
[role="navigation"] li a {
  color: var(--color-background);
  text-decoration: none;
  font-size: 0.875em;
}

main {
  max-width: var(--max_width);
  margin: 0 auto;
}

footer {
  background-color: var(--color-primary); 
  margin-bottom: 1em;
  margin-top: 3em
}
footer div {
  max-width: var(--max_width);
  margin: 0 auto;
  font-size: 0.75em;
  text-align:right;
  color: var(--color-background)
}
footer a {
  color: var(--color-background);
}
/* Typography */
p + * {margin-top: 1em}
h1, h3 { 
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary-light)
}

.job-list {
    border-collapse: collapse;
    /*width: var(--max_width);*/
    width: 100%;
    margin: 0 auto 2em;

    caption {
      text-align: left;
      font-weight: bold;
      font-size: 1.25em
    }
    th, td { 
        max-width: 700px;
        padding: 0.5em 1em;
        border: 1px solid #eee;
    }
    th {background: #eee}
    td { font-size: 0.875em}
    .status-1 { background: #FFFFE0}  /* Considering */
    .status-2 { background: #87CEEB } /* Applied */
    .status-3 {background: #D8BFD8}
    .status-3 {background: #90EE90}
}

.details main {
    max-width: 100ch;
    margin: auto
}