{% load static %}
<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
  <title>
    {% block title %}{% endblock %}
    {{ site.name }} 
    {% block extra_title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'css/site.css' %}?v=6">
  {% block site_styles %}{% endblock %}
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- to do: make template tag to handle this better -->
  <meta property="og:title" content="{{ site.name }} {% block og_title %}{% endblock %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">  
  {% block extra_meta %}{% endblock extra_meta %}
  {% block canonical %}{% endblock %}

  <link rel="icon" href="{% static 'img/favicon.png' %}" sizes="any">
  <link rel="icon" href="{% static 'img/icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'img/touch-icon.png' %}">
  
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta/name/theme-color -->
  <meta name="theme-color" content="#010101">

  <link rel="profile" href="http://microformats.org/profile/hcard">
  <link rel="alternate" type="application/atom+xml" href="{% url 'job_feed' %}"> 
  
  <script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.6.0/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
  {% block extrahead %}{% endblock %}
  {% block feeds %}{% endblock %}
</head>

<body id="{% block bodyid %}{% endblock %}" class="{% block bodyclass %}{% endblock %}">
  <header role="banner">
    {% block banner %}
        {% block site_name %}
          <h1 class="site-name">
            <a href="/" title="Home">
              {% block logo %}
                <span class="logo-prefix">DSC</span>
                <span class="logo-main">overy</span>
              {% endblock %}
            </a>
          </h1>
          <h2>Aggregating civic tech jobs from <a href="http://digitalservicescoalition.org">Digital Services Coalition</a> companies and other modern civic tech firms.</h2>
          {% block nav_tagline %}{% endblock %}
        {% endblock %}
    {% endblock %}
    {% block banner_nav %}{% endblock %}
  </header>
  <nav role="navigation">
  {% load flatpages %}
    {% get_flatpages as flatpages %}
    <ul>
        {% for page in flatpages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        <li><a href="{% url 'new_jobs' %}">New jobs</a></li>
        <li>
          <select id="practice-select"
          onchange="if(this.value !== '') { window.location = '?job_type=' + encodeURIComponent(this.value); } else { window.location = window.location.pathname; }">
            <option value="">All practices</option>
              {% for key, label in PRACTICE_CHOICES %}
                <option value="{{ key }}" {% if request.GET.job_type == key %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
          </select>
        </li>
    </ul>
  </nav>
  <div id="wrapper">
    {% block messages %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
    {% endblock %}{#-- end messages --#}
    {% block content_top %}{% endblock %}
    <main>{% block content %}{% endblock %}</main>
    <div role="complementary">{% block complementary %}{% endblock %}</div>
    {% block content_bottom %}{% endblock %}
  </div>

  <footer id="footer" role="contentinfo">
    {% block footer_nav %}
      <nav role="navigation">
        {# uncomment if you want it #}
        {# include 'includes/site_nav.html' #}
      </nav>
    {% endblock %}
    {% block footer %}
      <div>
        <p class="copyright">&copy; {{ now.year }} {{ site.name }} | <a href="{% url 'job_feed' %}">RSS</a></p>
      </div>
    {% endblock %}
  </footer>

  {% block init_js %}{% endblock %}
  {% block site_js %}
    <script src="{% static 'js/site.js' %}"></script>
    <script data-goatcounter="https://dscovery.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  {% endblock %}
  {% block extra_js %}{% endblock %}
</body>
</html>
