{% extends 'base.html' %}
{% load tango_time_tags jobsearch_tags %}

{% block content %}

{% if highlighted %}
<div class="highlighted">
<h1>Highlighted {% if job_type %}{{ job_type.1 }}{% endif %} Jobs</h1>
<table class="job-list fresh-list">
    <thead>
        <tr>
        <th>Company</th>
        <th>Job</th>
        <th>Tagged</th>
        <th>Location</th>
        <th>Found</th>
        </tr>
    </thead>
        {% for job in highlighted|dictsortreversed:"pub_date"|slice:10 %}
        <tr class="status-{{ job.status }}" id="job-{{ job.pk }}">
            <td>
                <a href="{% url 'company_detail' job.new_company.slug %}">{{ job.new_company }}</a>
            </td>
            <td>
                <a href="{{ job.link }}">{{ job.title }}</a>
            </td>
            <td>
                {% if job.job_type %}
                    <a href="{% url 'jobs' %}?job_type={{ job.job_type }}">{{ job.get_job_type_display }}</a>
                {% endif %}
            </td>
            
            <td>{{ job.location }}</td>
            <td>About {{ job.pub_date|short_timesince|default_if_none:"" }} ago</td>
        </tr>
        {% endfor %}
</table>
</div>
{% endif %}

<h1>All {{ job_type.1 }} Jobs</h1>
{% if job_type %}
<p>Note: Jobs are manually tagged. Mistakes will happen. Feel free to <a href="https://github.com/tBaxter/DSCovery/issues">log an issue</a> if you see one.</p>
{% endif %}
    {% for company in companies %}
        {% show_jobs company job_type.0 %}
    {% endfor %}
{% endblock %}

{% block init_js %}
<script>
    document.addEventListener('alpine:init', () => {
        const dropdown = document.querySelector('select[name="status"]');
        document.querySelectorAll('select[name="status"]').forEach(dropdown => {
            dropdown.addEventListener('change', (event) => {
                if (event.target.value === '0') {
                    if (confirm('Are you sure? You will no longer see this job.')) {
                        // If confirmed, submit the form
                        event.target.closest('form').submit();
                    } else {
                        // Optionally, reset the dropdown or perform other actions
                        event.target.value = ''; // Reset the dropdown value
                        // Or prevent form submission
                        // event.preventDefault();
                    }
                } else {
                    event.target.closest('form').submit();
                };
            });
        });
    });
</script>
{% endblock %}
